.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.back{
  min-height: 90vh;
  background-color: rgb(237, 237, 243);
 

}
.box{
 
  /* margin-top: 0%; */
  border: 2px solid rgb(237, 237, 243);
}

.box-1{
  border-radius: 3%;
  background-color: white;
  /* border: 2px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  margin: 0% 30%;
  margin-top: 9%;
  padding: 3%;
}

.container1{
  margin-top: 10%;
}

.left-txt{
  /* padding-left: 2px; */
  text-align: center;
}